<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BlockchainNodes.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BlockchainNodes.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <BlockchainNodes.My.MySettings>
            <setting name="IPAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="NodePort" serializeAs="String">
                <value />
            </setting>
            <setting name="Statistics" serializeAs="String">
                <value>Country</value>
            </setting>
            <setting name="GreenToYellow" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="YellowToRed" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="HideTrayIcon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MinimiseToTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinimiseOnClose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartupTab" serializeAs="String">
                <value>Summary</value>
            </setting>
            <setting name="WindowsNotification" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ApplicationNotification" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AllowLogging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowEmailNotification" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowsNotificationLevel" serializeAs="String">
                <value>Warning and Error</value>
            </setting>
            <setting name="ApplicationNotificationLevel" serializeAs="String">
                <value>Warning and Error</value>
            </setting>
            <setting name="LoggingLevel" serializeAs="String">
                <value>Warning and Error</value>
            </setting>
            <setting name="EmailNotificationLevel" serializeAs="String">
                <value>Warning and Error</value>
            </setting>
            <setting name="SMTPHost" serializeAs="String">
                <value />
            </setting>
            <setting name="SMTPPort" serializeAs="String">
                <value />
            </setting>
            <setting name="SMTPUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="SMTPPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="UseSSL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EmailAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentAgentVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="StartMinimised" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartWithWindows" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DesktopShortcut" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowTooltips" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HighlightNode" serializeAs="String">
                <value>True</value>
            </setting>
        </BlockchainNodes.My.MySettings>
    </userSettings>
    <applicationSettings>
        <BlockchainNodes.My.MySettings>
            <setting name="GreenToYellowDefault" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="YellowToRedDefault" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="HideTrayIconDefault" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MinimiseToTrayDefault" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinimiseOnCloseDefault" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartupTabDefault" serializeAs="String">
                <value>Summary</value>
            </setting>
            <setting name="WindowsNotificationDefault" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ApplicationNotificationDefault" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AllowLoggingDefault" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowEmailNotificationDefault" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowsNotificationLevelDefault" serializeAs="String">
                <value>Warning and Error</value>
            </setting>
            <setting name="ApplicationNotificationLevelDefault" serializeAs="String">
                <value>Warning and Error</value>
            </setting>
            <setting name="LoggingLevelDefault" serializeAs="String">
                <value>Warning and Error</value>
            </setting>
            <setting name="EmailNotificationLevelDefault" serializeAs="String">
                <value>Warning and Error</value>
            </setting>
            <setting name="StartMinimisedDefault" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartWithWindowsDefault" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DesktopShortcutDefault" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LiteNodesVersion" serializeAs="String">
                <value>v1.70</value>
            </setting>
            <setting name="ShowTooltipsDefault" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HighlightNodeDefault" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DownLoadURL" serializeAs="String">
                <value>https://sourceforge.net/projects/litenodes/files/latest/download</value>
            </setting>
            <setting name="DefaultPort" serializeAs="String">
                <value>9333</value>
            </setting>
            <setting name="LitecoinCoreURL" serializeAs="String">
                <value>https://github.com/litecoin-project/litecoin</value>
            </setting>
            <setting name="WebHelp" serializeAs="String">
                <value>https://starglancer.uk</value>
            </setting>
            <setting name="EmailHelp" serializeAs="String">
                <value>starglancer@starglancer.uk</value>
            </setting>
        </BlockchainNodes.My.MySettings>
    </applicationSettings>
</configuration>